{% extends "lab_6/layout/base.html" %}

{% block content %}


    <!-- ChatBox Section -->
    <section name="Chatbox">
       <div class="wrapper">
          <div class="chat-box">
             <div class="chat-head">
                <h2>Chat</h2>
                <img src="https://maxcdn.icons8.com/windows10/PNG/16/Arrows/angle_down-16.png" title="Expand Arrow" width="16" id ="toggle" onclick="hideToggle()">
             </div>
             <div class="chat-body" id ="content-body">
                <div class="msg-insert" id="result-msg">
                  <div class="msg-receive">
                    Feel free to chat us!
                  </div>
                  <div class="msg-send" >
                    tes

                  </div>
                  
                  
                </div>
                <div class="chat-text">
                   <textarea placeholder="Press Enter" id="enter-msg" onkeydown="enterFunc(event)"></textarea>
                </div>
             </div>
          </div>
       </div>
    </section>
    {% endblock %}
